

/* Genral Styles ********************************************************/
* {
    letter-spacing: 0.02em;
    font-size: 1em;
    outline: 0px none !important;
}
html {
    height: 100%;
}
body {
    height: 100%;
}
.has-icon {
    position: relative;
}
.form-stack .glyphicon {
    position: absolute;
    right: 10px;
    top: 8px;
    color: #ccc;
}
.form-stack .btn .glyphicon {
    position: absolute;
    right: 15px;
    top: 17px;
    color: #fff;
}
.panel {
    border-color: #CFD9DB #CFD9DB #C0CDD1;
    border-radius: 3px;
    border-width: 1px 1px 2px;
    box-shadow: none;
    position: relative;
}
hr {
    border-color: #CFD9DB;
}
.alert {
    padding: 10px;
}
.alert-dismissable {
    padding-right: 10px;
}
.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    border: 0px none;
}
.sidebar {
    background-color: #2A2A2A;
    bottom: 0;
    color: #777777;
    position: relative;
    top: 0;
    transition: -webkit-transform 0.2s ease 0s, -moz-transform 0.2s ease 0s, -o-transform 0.2s ease 0s, transform 0.2s ease 0s;
    width: 180px;
    z-index: 200;
}
.sidebar.sidebar-left.sidebar-menu {
    bottom: auto;
    left: 0;
    min-height: 400px;
    height: 100%;
    padding-top: 60px;
    position: absolute;
}
.sidebar-minimized .sidebar.sidebar-left.sidebar-menu {
    bottom: auto;
    left: 0;
    min-height: 100%;
    padding-top: 60px;
    position: absolute;
    width: 60px;
}

.login-wrapper {
    width: 320px;
    margin: 0px auto;
}
#header .navbar-header {
    background-color: #00B1E1;
    border-bottom: 1px solid #63D3E9;
    height: 60px;
}
#header .navbar-header .navbar-brand {
    height: 60px;
    line-height: 59px;
    padding: 0;
    display: block;
    text-align: center;
    min-width: 180px;
    width: 100%;
    color: #f2f2f2;
    text-shadow: 0px 1px 1px #999;
}
.navbar-brand span.logo-text {
    padding: 0px 30px;
    font-size: 20pt;
}

#header.navbar.navbar-fixed-top > .navbar-toolbar {
    box-shadow: 0 3px 2px -3px rgba(0, 0, 0, 0.08);
}
#header.navbar > .navbar-toolbar {
    background-color: rgba(255, 255, 255, 0.97);
    border-bottom: 1px solid #E3E9EB;
    min-height: 50px;
}
.navbar-toolbar .navbar-nav {
    float: left;
    margin: 0px;
}
.navbar-toolbar .navbar-right {
    float: right;
}
.navbar-toolbar .navbar-left li {
    float: left;
}
.navbar-nav > li > a {
    cursor: pointer;
    line-height: 22px;
    padding-bottom: 13px;
}
#notification-panel, #messages-panel {
    background-color: #FFFFFF;
    border: 1px solid #CFD9DB;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    left: 7px;
    position: absolute;
    width: 300px;
    padding-bottom: 0px;
}
#messages-panel {
    left: -50px;
}
#messages-panel .old  .media-text,#messages-panel .old  .media-heading {
    color: #999;
}
#profile-panel {
    background-color: #FFFFFF;
    border: 1px solid #CFD9DB;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    right: 5px;
    top: 55px;
    position: absolute;
    width: 300px;
}
.navbar-toolbar  .navbar-left .glyphicon,.navbar-toolbar  .navbar-left .fa {
    font-size: 26px;
}
.dropdown-header {
    margin-top: -5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #5E5E5E;
    display: table;
    height: 36px;
    line-height: 36px;
    padding: 0 15px !important;
    width: 100%;

}
.dropdown-footer {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #5E5E5E;
    display: table;
    height: 36px;
    line-height: 36px;
    padding: 0 15px !important;
    width: 100%;
}
.dropdown-header .title,.dropdown-header .option {
    display: table-cell;
    font-weight: 600; 
    font-size: 13px;
}
.dropdown-header .option a {
    color: #00B1E1;
}
.media-list > a.media {
    display: block;
    position: relative;
    padding: 5px;
}
a.media:hover {
    text-decoration: none;
}
.media-list > .media.border-dotted:after {
    border-bottom-style: dotted;
}
.media-list > .media:after {
    border-bottom: 1px solid #DDE4E6;
    bottom: 0;
    content: "";
    height: 1px;
    left: 75px;
    position: absolute;
    right: 0;
}
.media-list > .media .media-object {
    height: 50px;
    text-align: center;
    width: 50px;
}
.media > .pull-left {
    margin-right: 10px;
}
.media-list > .media .media-object > [class*=" glyphicon-"], .media-list > .media .media-object > [class^="glyphicon-"] {
    background-color: #ECF0F1;
    border-radius: 50%;
    color: #B1C2C6;
    display: block;
    height: 34px;
    line-height: 33px;
    margin: 0 auto;
    text-align: center;
    width: 34px;
}
.bgcolor-teal {
    background-color: #6BCCB4 !important;
    border-color: #5CC7AC !important;
    color: #FFFFFF !important;
}
.bgcolor-info {
    background-color: #00B1E1 !important;
    border-color: #4DCDE6 !important;
    color: #FFFFFF !important;
}
.media, .media-body {
    overflow: hidden;
}
.media-list > .media > .media-body > .media-heading {
    color: #00B1E1;
    display: block;
    font-weight: 600;
    margin-bottom: 0;
}
.media-list > .media > .media-body > .media-text {
    color: #444444;
    display: block;
    margin: 0;
}
.media-list > .media > .media-body .media-meta {
    font-size: 11px;
    margin: 0;
    color: #777;
}
.media-list .glyphicon {
    font-size: 15px;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nm {
    margin: 0 !important;
}
#header.navbar .avatar {
    display: table-cell;
    height: 32px;
    vertical-align: middle;
    width: 32px;
}
.navbar-toolbar .meta {
    display: table;
    width: 100%;
    margin-right: 10px;
}
#header.navbar .avatar > img {
    display: block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
#header.navbar .meta  .text {
    font-size: 13px;
    line-height: 30px;
    font-weight: 600;
    padding-left: 5px;
}
.p0 {
    padding: 0px;
}
.p10 {
    padding: 10px;
}
.pl5 {
    padding-left: 5px !important;
}
.pr5 {
    padding-right: 5px !important;
}
.pr0 {
    padding-right: 0px !important;
}
.m5 {
    margin: 5px;
}
.profile-dropdown {
    width: 200px;
}
.container-fluid .page-header.page-header-block {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    background-color: #FBFCFC;
    border-bottom-color: #DAE2E4;
    padding: 14px 15px 16px;
    width: auto;
}
.page-header.page-header-block .col-xs-5  {
    margin: 5px 0px;
}
hr.dark {
    border-top: 1px solid #222;
    border-bottom: 1px solid #333;
}
.sidebar-menu ul.nav li a {
    color: #B7C9CD;
    padding: 10px;
}
.sidebar .menu li a .menu-text {
    font-size: 1em; 
}
.stick {
    position:fixed !important;
    top:0px !important;
}
.sidebar .menu li .notification {
    background-color: #F86868;
    border-radius: 5px;
    color: #FFFFFF !important;
    display: inline-block;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    text-align: center;
    width: 20px;
}
.notification {
    background-color: #D9EDF7;
    border: 0 solid #BCE8F1;
    border-radius: 3px;
    color: #333333;
    margin-bottom: 10px;
    padding: 20px;
}
.sidebar .submenu {
    display: none;
    position: absolute;
    top: 0px;
    left: 180px;
    width: 150px;
    margin-left: 0px;
    padding-left: 0px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    padding-right: 2px;
    z-index: 300;
}

.sidebar .menu li.active .arrow{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);  
    -webkit-transform:rotate(180deg);
}
/*.sidebar .menu li:hover .arrow,.menu li.active .arrow {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);  
    -webkit-transform:rotate(90deg);
}*/
.sidebar .submenu li {
    position: relative;
    padding-left: 15px;
    display: block;
    list-style: none outside none;
    position: relative;
    width: 100%;
}
.sidebar .submenu li:hover {
    background-color: #222;
}
.sidebar .submenu li a {
    display: block;
    padding: 10px;
}
.sidebar .submenu li a:hover {
    text-decoration: none;
}
.sidebar .submenu li a .glyphicon {
    margin-right: 5px;
}
.nav-tabs > li > a {
    border: 0px none;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
    margin-bottom: 0px;
    border: 0px none;
    word-wrap: break-word;
}
.tabs-left > .nav-tabs > li .glyphicon,.tabs-left > .nav-tabs > li .fa {
    margin-right: 5px;
}
.nav-tabs > li.active,.nav-tabs > li.active a.tab-title  {
    background: #fff;
    border: 0px none;
    position: relative;
}
.tabs-left > .nav-tabs {
    float: left;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0px none;
    background: none !important;
}
.nav-tabs > li > a:hover {
    border-color: none;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    text-decoration: none;
    background: none !important;
}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    background: none;
    border-radius: 0px;
}
.dropdown-menu > li > a {
    padding: 6px 20px;
}
.small .glyphicon {font-size: 12px;}
.pagination {margin: 5px 0px;}
.pagination > li > a, .pagination > li > span {
    padding: 6px 10px;
}
.btn-file {
    padding: 1px;
}
.btn-file input[type=file] {
    width: auto;
    float: left;
    margin: 5px;
    max-width: 170px;
    font-size: 12px;
}
.input-group .btn-file {
    position: relative;
    overflow: hidden;
}
.input-group .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.panel-group .panel {
    overflow: visible;
}
.panel-footer {
    word-wrap: break-word;
}

.nav-tabs li > a {
    color: #fff;
}
.nav-tabs li > a.action-icon :hover {
    color: #2A2A2A;
}
.nav-tabs li.active > a.action-icon :hover {
    color: #00B1E1;
}
.tab-content {
    position: relative;
    background: #fff;
    width: 100%;
    min-height: 300px;
    float: left;
    padding: 5px 10px 2px 10px;
    border-right: 1px solid #DBDFE0;
    box-shadow: 0 3px 0 #DBDFE0;
}
.list-group-item {
    padding: 5px 10px;
}
.list-table {
    display: table;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
}   
.list-table > li:first-child {
    padding-left: 0;
}
.list-table > li {
    display: table-cell;
    padding: 0 5px;
    table-layout: fixed;
    vertical-align: middle;
    width: auto;
}
.fa {
    vertical-align: middle;
}
.title .fa {
    font-size: 19px;
}
.btn .fa {
    margin-top: -1px;
}
#settingFieldOptionsWrapper,#settingFieldOptionsWrapper .col-md-4,#settingFieldOptionsWrapper .col-md-8 {
    padding: 0px;
}
#settingFieldOptionsWrapper .hidden-xs, #settingFieldOptionsWrapper .date_default_value_label {
    display: none;
}
#settingFieldOptionsWrapper #optionList,#settingFieldOptionsWrapper .date_default_value_field  {
    width: 100%;
}
#optionList .table {
    margin-bottom: 0px;
}
.cp  {
    cursor: pointer !important;
}
#settingFieldOptionsWrapper .default_value_label {
    font-weight: normal;
    font-size: 12px;
}
.ui-datepicker {
    z-index: 1050 !important;
}
.underline {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
.tabs-left .tab-content {
    width: 70%;
}
.tabs-left .nav-tabs {
    width: 30%;
    left: 1px;
}
.action-icon {
    margin-left: 1px;
    color: #aaa;
}
.action-icon:hover {
    color: #00B1E1;
}
.panel-title > a {
    display: block;
    line-height: 18px;
}
.panel-title > a .glyphicon {
    margin-right: 10px;
}
.panel-title > a .glyphicon:before {
    content: "\2212";
}
.panel-title > a.collapsed .glyphicon:before {
    content: "\2b";
}
.field-row {
    position: relative;
    margin-top: 20px;
}
.field-row:first-child {
    margin-top: 5px;
}
.user-grid .panel-body {
    padding: 10px 0px;
}
.user-grid .col-md-6 .panel-body {
    padding: 0px;
    word-wrap: break-word;
    position: relative;
}
.user-grid .stretch {
    padding: 0px;
}
.user-grid h6 {
    margin: 3px 0px;
}
.user-grid .action-iconset {
    color: #aaa;
    margin: 5px 0px;
    padding: 0px 5px;

}
.user-grid .user-details {
    padding: 5px;
}
.muted {
    font-size: 12px;
}
.muted .glyphicon {
    font-size: 10px;
}
.user-avatar {
    max-width: 100%;
    width: 100%;
}
.ui-datepicker-trigger {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}
#optionList .row-fluid {
    padding: 2px 0px;
}
.add-option {
    display: block;
}
.max50 {
    max-width: 50px;
}
.card-layout {
    display: table;
    margin-bottom: 20px;
    table-layout: fixed;
    width: 100%;
}
.card-layout > .col-xs-1, .card-layout > .col-xs-10, .card-layout > .col-xs-11, .card-layout > .col-xs-2, .card-layout > .col-xs-3, .card-layout > .col-xs-4, .card-layout > .col-xs-5, .card-layout > .col-xs-6, .card-layout > .col-xs-7, .card-layout > .col-xs-8, .card-layout > .col-xs-9 {
    display: table-cell;
    float: none;
    table-layout: fixed;
    vertical-align: middle;
}
.icon-box {
    background: #B1C2C6;
    border-right: 0px none;
    border-radius: 3px 0px 0px 3px;
}
.icon-box a {
    color: #fff;
    display: block;
}
.icon-box-detail {
    border-left: 0px none;
    border-radius: 0px 3px 3px 0px;
}
.media, .media .media {
    margin-top: 0px;
}
.media-list-feed {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.media-list > .media {
    padding: 0px 15px 15px 15px;
    position: relative;
}
.media:first-child {
    margin-top: 0;
}
.media-list-feed > .media:after {
    background-color: #DDE4E6;
    border-bottom-width: 0;
    bottom: -50%;
    content: "";
    height: auto;
    left: 40px;
    position: absolute;
    right: auto;
    top: -50%;
    width: 1px;
    z-index: -1;
}
#nextFeed:after {
    bottom: 50%;
}
#nextFeed .media-body {
    padding-top: 7px;
}
.state-container {
    box-sizing: border-box;
    width: 100%;
    height: 450px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    overflow: hidden;
}
.state-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}
.legendLabel {
    padding: 3px;
    font-size: 11px;
}
.hasAlert {
    position: absolute;
    left: 10px;
    top: 10px;
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    text-indent: -999999px;
}
.dateBox {
    max-width: 100px;
    margin-right: 15px;
}
.inbox-options {
    margin-top: 10px;
}
.inbox-options a {
    display: block;
    line-height: 16px;
    font-size: 14px;
    padding-left: 5px;
    color: #345;
}
.inbox-options a:hover {
    text-decoration: none;
}
.has-icon {
    position: relative;
}
.has-icon .glyphicon {
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: 111;
}
.message-list .media-meta {
    margin-left: 5px !important;
}
.labels-list .list-group-item:hover .remove-label {
    display: block !important;
}
.red {
    color: #F86868;
}
.form-light input{
    background: transparent;
    border: 0px none;
    border-bottom: 1px dotted #ccc;
}
.permission-table .permission-row {
    padding: 5px 0px;
    border-bottom: 1px dotted #eee;
}
.permission-table .permission-row:hover , .table tr:hover {
    background-color: #F5F5F5 !important;
}
.break-word {
    word-break: break-all;
}
.remove-section {
    position: absolute !important;
    top: 10px;
    right: 0px;
    padding: 2px !important;
    display: none !important;
}
.edit-section {
    position: absolute !important;
    top: -4px;
    right: 0px;
    padding: 2px !important;
    display: none !important;
}
.remove-section span,.edit-section span {
    font-size: 9px !important;
}
.section-tab:hover  .remove-section,.section-tab:hover  .edit-section {
    display: block !important;
}
.cke_show_borders {
    padding: 5px;
    border: 1px dashed #ccc;
    min-height: 100px;
    height: auto;
}
.hidden-row {
    display: none;
}
.section-tab .tab-title {
    display: inline-block;
    padding-right: 1px;
}

.section-tab .btn-group .dropdown-menu {
    min-width: 120px;
}
.section-tab .btn-group .dropdown-menu a {
    color: #111;
}
.nav-tabs .section-tab  {
    border-top: 1px solid #7987A1 !important;
}
.nav-tabs .section-tab:first-child  {
    border-top: 0px none !important;
}
.hidden-xxs {
    word-break: break-all;
}
.tab-pane h4 {
    margin-top: 0px;
}

#wrapper {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
#canvas {
    width: 100%;
    min-height: 475px;
    min-height: 100%;
    padding-top: 75px;
    position: relative;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#menu {
    width: 180px;
    position: absolute;
    top: 0;
    left: -180px;
    padding-top: 75px;
}

#wrapper.show-nav #canvas {
    -webkit-transform: translateX(180px);
    transform: translateX(180px);
}
.label-form .col-xs-3,.label-form .col-xs-8 {
    padding:0px;
    margin:1px;
}
.label-form .form-control {
    padding:2px;
}
/* End Genral Styles ********************************************************/

@media (max-width: 767px) {
    #sideMenuIcon {
        position: absolute;
        top: 3px;
        left: 0px;
    }
    #canvas {
        padding-top: 130px;
    }
    #menu {
        padding-top: 130px;
    }
    hr.dark {
        margin: 25px 0px;
    }
    .muted {
        font-size: 10px;
    }
    .muted .glyphicon {
        font-size: 8px;
    }
}
@media (max-width: 320px) {
    #sideMenuIcon {
        position: absolute;
        top: 3px;
        left: 0px;
    }
    .sidebar {
        width: 65px;
    }
    hr.dark {
        margin: 25px 0px;
    }
    #sidebarMenu li .menu-text {
        display: none;
    }
    #sidebarMenu li .notification {
        width: 16px;
        height: 16px;
        line-height: 16px;
        position: absolute;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .panel-heading {
        padding: 10px;
    }
    .pagination .page_number {
        display: none;
    }
    .nav-tabs > li > a {
        padding: 10px !important;
    }
    .tabs-left .nav-tabs > li > a {
        padding: 10px 1px 10px 10px !important;
    }
    .panel-body {
        padding: 5px;
    }
    .action-iconset {
        text-align: left !important;
    }
    .hidden-xxs {
        display: none !important;
    }
}
@media (max-width: 360px) {
    .section-tab .tab-title {
        display: inline-block;
        padding-right: 1px;
        padding-left: 5px;
    }
}